.slick-prev,
.slick-next {
  width: 34px;
  height: 34px;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  padding: 0;
}

.slick-prev:before {
  content: "<";
  color: black;
  font-size: 28px;
  line-height: 1;
  opacity: 1;
  display: block;
  position: relative;
  top: -1px;
}

.slick-next:before {
  content: ">";
  color: black;
  font-size: 28px;
  line-height: 1;
  opacity: 1;
  display: block;
  position: relative;
  top: -1px;
}
